
*.html
_site/assets/css/just-the-docs-dark.css
_site/assets/css/just-the-docs-dark.css.map
_site/assets/css/just-the-docs-default.css
_site/assets/css/just-the-docs-default.css.map
_site/assets/css/just-the-docs-light.css
_site/assets/css/just-the-docs-light.css.map
_site/assets/images/just-the-docs.png
_site/assets/images/rc-logo.png
_site/assets/images/search.svg
_site/assets/js/just-the-docs.js
_site/assets/js/search-data.json
_site/assets/js/vendor/lunr.min.js
_site/content/relational-data-answers.Rmd
_site/content/relational-data.Rmd
_site/content/zoom-figures/annotate_toolbar.png
_site/content/zoom-figures/open_annotate_toolbar.png
_site/content/zoom-figures/participants_window_menu.png
_site/content/zoom-figures/reactions.png
_site/content/zoom-figures/zoom_toolbar.png
_site/favicon.ico
_site/README.md
content/.Rhistory
